# Data Science Tools and Ecosystem

Welcome! In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__
* List Popular languages for Data Science
* List commonly used Data Science libraries
* List Data Science tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. Ploty

|Data Science Tools|
------------------
|RStudio|
|Jupyter Notebook|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author
S.Simmons